* {
  margin-left: 0.4rem;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: white;
  cursor: default;
}
main {
  display: flex;
}
section {
  margin: 2rem 0 0 1rem;
}
address {
  display: flex;
}
a {
  cursor: pointer;
}
a:link {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}
#contact {
  display: flex;
  flex-direction: column;
  & li {
    list-style: none;
    margin-inline: 1rem;
  }
  & a {
    cursor: pointer;
  }
  & a:link {
    text-decoration: none;
    color: black;
  }
  & a:hover {
    text-decoration: underline;
  }
}
#portfolio {
  display: flex;
}
#profile {
  margin-top: 0.4rem;
}
li {
  list-style: circle;
}
#portfolio {
  margin-left: 10%;
  width: 100%;
  img {
    max-width: 100px;
  }
}
#knowledgeContainer {
  display: flex;
}
.knowledge {
  color: black;
  width: 50%;
  padding-block: 0.4rem;
}
.knowledge > ul > div {
  font-weight: bold;
  width: fit-content;
  & span {
    padding-block: 0.3rem;
    font-weight: normal;
  }
}
.knowledge > ul > div > span:first-child {
  color: white;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.589);
}
.skills div {
  width: 100%;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  & span {
    margin-left: 0;
    margin-right: 1rem;
    margin-block: 0.4rem;
    padding-inline: 1rem;
    background-color: rgba(0, 0, 0, 0.31);
  }
}
#programming {
  background-color: lightgrey;
  box-shadow: 0 200px 100px -100px white inset;
  transition: box-shadow 1s;
}
#programming:hover {
  background-color: lightskyblue;
  box-shadow: 0 -200px 100px -100px rgb(211, 240, 240) inset;
}
#methods {
  background-color: darkgray;
  box-shadow: 0 200px 100px -100px rgb(255, 255, 255) inset;
  transition: box-shadow 1s;
  & div > span {
    background-color: rgba(54, 54, 54, 0.238);
  }
}
#methods:hover {
  background-color: rgb(87, 118, 190);
  box-shadow: 0 -200px 100px -100px rgb(211, 240, 240) inset;
}

#methods > ul > div > span:first-child {
  font-weight: bold;
  background-color: rgba(54, 54, 54, 0.421);
}
h3 {
  margin: 0.4rem 0 0 0.4rem;
}
h4 {
  margin-top: 0;
}
tr,
td {
  border: solid 1px;
}
tr:nth-child(even) {
  background-color: #37353554;
}
#experience > table {
  & tr > td {
    padding-inline: 0.4rem;
  }
}
